/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}

main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px
}

section {
    width: 30%;
}

h2 {
    margin-top: 0;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

/* Estilos para los Anuncios */
.anuncio {
    margin-bottom: 20px;
}

.anuncio img {
    width: 200px;
    height: auto;
    overflow: hidden;
}

.anuncio-detalle img {
    width: 400px;
    height: auto;
}

.anuncio div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}

.nuevo-anuncio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

.nuevo-anuncio-container h2 {
    margin-bottom: 15px;
}

#formularioAnuncio input[type="text"],
#formularioAnuncio input[type="file"],
#formularioAnuncio textarea,
#formularioAnuncio select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formularioAnuncio input[type="file"] {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box; 
    background-color: white;
}

#formularioAnuncio button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: 50%;
}

#formularioAnuncio button:hover {
    background-color: #666; /* Cambia el color de fondo al pasar el cursor */
}


.usuario .nuevo-anuncio-container {
    display: block;
    margin-top: 20px;
}

/* Estilos para el Perfil del Usuario */
.perfil {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}

.perfil img {
    width: 100px;
    border-radius: 50%;
}

/* Estilos botones */
.boton-comprar {
    margin-bottom: 20px;
    width: 100px; 
    height: 50px;
    font-size: 1em;
    border-radius: 10px;
}

.vermas {
    width: 100%; 
    height: 50px;
    font-size: 1em;
    border-radius: 8px;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 50px
}

.vermas a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold;
    font-size: 1em;
}

.vermas a:hover {
    color: #007bff;
}

button {
    margin-top: 10px;
    width: 100px;
    font-size: 1em;
    border-radius: 8px;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none; 
    color: #666;
}

/* Estilos para los Mensajes */
.formulario-mensaje {
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline;
}

.mensaje {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

/* Estilos para cierre de sesión */
.cierresesion {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilos para el Pie de Página */
footer {
    text-align: center;
    margin-top: 20px;
}


/* Estilos del chat */
#chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #message-list {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #message-input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
  }
  
  #send-button {
    width: 70px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: #0056b3;
  }